#
#
# starlte Defconfig
#
#
CONFIG_VMPRESSURE_LEVEL_MED=60
CONFIG_MUIC_UNIVERSAL=y
# CONFIG_MUIC_UNIVERSAL_MAX77854 is not set
CONFIG_MUIC_UNIVERSAL_MAX77865=y
CONFIG_MUIC_HV=y
# CONFIG_MUIC_HV_12V is not set
CONFIG_MUIC_HV_MAX77865=y
CONFIG_INPUT_TOUCHSCREEN_TCLM=y
# CONFIG_INPUT_TOUCHSCREEN_TCLMV2 is not set
CONFIG_TOUCHSCREEN_SEC_TS=y
# CONFIG_TOUCHSCREEN_SEC_TS_Y771 is not set
# CONFIG_INPUT_WACOM is not set
# CONFIG_EPEN_WACOM_W9018 is not set
CONFIG_MFD_MAX77865=y
# CONFIG_CAMERA_CIS_3M3_OBJ is not set
CONFIG_OIS_USE_RUMBA_S4=y
CONFIG_CAMERA_STAR=y
# CONFIG_CAMERA_STAR2 is not set
# CONFIG_CAMERA_CROWN is not set
# CONFIG_OIS_USE_RUMBA_S6 is not set
# CONFIG_SUPPORT_DIM_FLASH is not set
# CONFIG_SELF_MOVE_3PX is not set
CONFIG_LEDS_MAX77865_RGB=y
CONFIG_FUELGAUGE_MAX77865=y
CONFIG_CHARGER_MAX77865=y
# CONFIG_WIRELESS_FIRMWARE_65 is not set
# CONFIG_SENSORS_SSP_AK09918 is not set
# CONFIG_SENSORS_SSP_LIGHT_MAX_GAIN_2BYTE is not set
CONFIG_SENSORS_SSP_STAR=y
# CONFIG_SENSORS_SSP_CROWN is not set
CONFIG_KSU=y
CONFIG_KSU_WITH_KPROBES=n
# SUSFS v2.0.0 configuration
CONFIG_KSU_SUSFS=y
CONFIG_KSU_SUSFS_SUS_MOUNT=y
CONFIG_KSU_SUSFS_SPOOF_UNAME=y
CONFIG_KSU_SUSFS_HIDE_KSU_SUSFS_SYMBOLS=y
CONFIG_KSU_SUSFS_ENABLE_LOG=y
# CONFIG_KSU_SUSFS_SUS_SU is not set
CONFIG_KSU_MANUAL_HOOK=y
CONFIG_KSU_SUSFS_SUS_PATH=y
CONFIG_KSU_SUSFS_SUS_KSTAT=y
CONFIG_KSU_SUSFS_TRY_UMOUNT=y
CONFIG_KSU_SUSFS_OPEN_REDIRECT=y
CONFIG_KSU_SUSFS_SPOOF_CMDLINE_OR_BOOTCONFIG=y
CONFIG_KSU_SUSFS_AUTO_ADD_SUS_KSU_DEFAULT_MOUNT=y
CONFIG_KSU_SUSFS_AUTO_ADD_SUS_BIND_MOUNT=y
CONFIG_KSU_SUSFS_AUTO_ADD_TRY_UMOUNT_FOR_BIND_MOUNT=y
